{% extends "base.html" %}

{% block title %}Calendar{% endblock %}

{% block head %}
<style>
</style>
{% endblock %}

{% block header %} {% include "header/user.html" %} {% endblock %}

{% block content %}
<h1>Calendar</h1>

{% match logged_in %}
{% when Some with (u) %}
{% if u.tier > 1 %}
<a href="/calendar/new">Create New Event</a>
{% endif %}
{% when None %}
{% endmatch %}

{% for event in events %}
<div>
    <a href="/calendar/{{ event.id }}">{{ event.title }}</a>
    {{ event.happening_at }}
</div>
{% endfor %}

{% endblock %}