{% extends "base.html" %}

{% block title %}Calendar{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.css"
    integrity="sha256-9VgA72/TnFndEp685+regIGSD6voLveO2iDuWhqTY3g=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.js"
    integrity="sha256-4+rW6N5lf9nslJC6ut/ob7fCY2Y+VZj2Pw/2KdmQjR0=" crossorigin="anonymous"></script>
<style>
</style>
{% endblock %}


{% block adminbuttons %}
{% match logged_in %}
{% when Some with (u) %}
{% if u.tier > 1 %}
<a class="btn btn-secondary" href="/calendar/new">New Event</a>
{% endif %}
{% when None %}
{% endmatch %}
{% endblock %}

{% block content %}

<table class="table table-hover">
    <thead>
        <th>Event Title</th>
        <th>Happening At</th>
    </thead>
    <tbody>
        {% for event in events %}
        <tr class="position-relative">
            <td><a class="stretched-link" href="/calendar/{{ event.id }}">{{ event.title }}</a></td>
            <td>{{ event.start }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}