{% extends "base.html" %}

{% block title %}Calendar{% endblock %}

{% block head %}
<link href='https://unpkg.com/@fullcalendar/core/main.min.css' rel='stylesheet' />
<link href='https://unpkg.com/@fullcalendar/daygrid/main.min.css' rel='stylesheet' />
<link href='https://unpkg.com/@fullcalendar/list/main.min.css' rel='stylesheet' />

<script src='https://unpkg.com/@fullcalendar/core/main.min.js'></script>
<script src='https://unpkg.com/@fullcalendar/daygrid/main.min.js'></script>
<script src='https://unpkg.com/@fullcalendar/list/main.min.js'></script>

<style>
</style>
{% endblock %}

{% block tools %}
<div class="btn-group mr-2">
    {% match logged_in %}
    {% when Some with (u) %}
    {% if u.tier > 1 %}
    <a class="btn btn-secondary" href="/calendar/new">New Event</a>
    {% endif %}
    {% when None %}
    {% endmatch %}
</div>
<div class="btn-group mr-2">
    <a class="btn btn-outline-secondary" href="/calendar.ics">iCal</a>
</div>
{% endblock %}

{% block content %}

<script src="/static/js/calendar.js"></script>

<div id="calendar"></div>

<noscript>
    <table class="table table-hover">
        <thead>
            <th>Event Title</th>
            <th>Happening At</th>
        </thead>
        <tbody>
            {% for event in events %}
            <tr class="clickable-row" data-href="/calendar/{{ event.id }}">
                <td><a href="/calendar/{{ event.id }}">{{ event.title }}</a></td>
                <td>{{ event.start }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</noscript>

{% endblock %}
