{% extends "base.html" %}

{% block title %}{{ event.title }}{% endblock %}

{% block head %}
<style>
</style>
{% endblock %}

{% block adminbuttons %}
{% match logged_in %}
{% when Some with (u) %}
{% if u.tier > 1 %}
<a class="btn btn-secondary" href="/calendar/{{ event.id }}/edit">Edit</a>
<button class="btn btn-danger">Delete</button>
{% endif %}
{% when None %}
{% endmatch %}
{% endblock %}

{% block content %}
<h2>At {{ event.start }} until {{ event.end }}</h2>

{% match event.location %}
{% when Some with (val) %}
<h2>In {{ val }}</h2>
{% when None %}
{% endmatch %}

{% match logged_in %}
{% when Some with (u) %}
{% if u.tier > 0 || u.id == event.hosted_by %}
<h3>Code <code>{{ event.code }}</code></h3>
{% endif %}
{% when None %}
{% endmatch %}

{% match event.description %}
{% when Some with (val) %}
<p>{{ val }}</p>
{% when None %}
{% endmatch %}

{% endblock %}