{% extends "base.html" %}

{% block title %}{{ event.title }}{% endblock %}

{% block head %}
<style>
</style>
{% endblock %}

{% block tools %}
<div class="btn-group mr-2">
    {% match logged_in %}
    {% when Some with (u) %}
    {% if u.tier > 1 %}
    <a class="btn btn-secondary" href="/calendar/{{ event.id }}/edit">Edit</a>
    <button type="delete" class="btn btn-danger">Delete</button>
    {% endif %}
    {% when None %}
    {% endmatch %}
</div>
{% endblock %}

{% block content %}
<h2>At {{ event.start }} until {{ event.end }}</h2>

{% match event.location %}
{% when Some with (val) %}
<h2>In {{ val }}</h2>
{% when None %}
{% endmatch %}

{% match event.description %}
{% when Some with (val) %}
<p>{{ val|e|md|safe }}</p>
{% when None %}
{% endmatch %}

{% match logged_in %}
{% when Some with (u) %}
{% if u.tier > 0 || u.id == event.hosted_by %}
<div>
    Code <code>{{ event.code }}</code>
    <a href="/big?text={{ event.code }}">View Code</a>
</div>
<h2>Attendees</h2>
<ul>
    {% for user in users %}
    <li><a href="/users/{{ user.id }}">{{ user.real_name }} ({{ user.handle }})</a>
    {% endfor %}
</ul>
{% endif %}
{% when None %}
{% endmatch %}

{% endblock %}
