{% extends "base.html" %}

{% block title %}New Event{% endblock %}

{% block head %}
<style>
</style>
{% endblock %}

{% block header %} {% include "header/user.html" %} {% endblock %}

{% block content %}
<h1>New Event</h1>
<form method="POST">
    <div>
        <label for="title">Title</label>
        <input type="text" name="title">
    </div>
    <div>
        <label for="description">Description</label>
        <input type="text" name="description">
    </div>
    <div>
        <label for="location">Location</label>
        <input type="text" name="location">
    </div>
    <div>
        <label for="happening_at">Happening At</label>
        <input type="datetime-local" name="happening_at">
    </div>
    <div>
        <label for="hosted_by">Hosted By</label>
        <select name="hosted_by">
            {% for user in all_users %}
            <option value="{{ user.id }}">{{ user.real_name }}</option>
            {% endfor %}
        </select>
    </div>
    <input type="hidden" name="code" value="">
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
{% endblock %}