{% extends "base.html" %}

{% block title %}New Story{% endblock %}

{% block head %}
<style>
</style>
{% endblock %}

{% block content %}

{% include "../form-error.html" %}

<form method="POST">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="description"></label>
        <textarea name="description" class="form-control" required></textarea>
    </div>
    <div class="form-group">
        <label for="start">Happened At</label>
        <input type="datetime-local" name="happened_at" class="form-control" required>
    </div>
    <div class="form-group form-check">
        <input type="checkbox" name="announcement" id="announcement" class="form-check-input" />
        <label for="announcement" class="form-check-label">
            Announcement (will be shown on homepage)
        </label>
    </div>
    <div class="form-group">
        <label for="color">Calendar Color</label>
        <select name="color" class="custom-select" required>
            <option value="red">Red</option>
            <option value="blue">Blue</option>
            <option value="green">Green</option>
            <option value="yellow">Yellow</option>
            <option value="orange">Orange</option>
            <option value="purple">Purple</option>
            <option value="brown">Brown</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
