{% extends "base.html" %}

{% block title %}News{% endblock %}

{% block head %}
<style>
</style>
{% endblock %}

{% block tools %}
<div class="btn-group">
    {% match logged_in %}
    {% when Some with (u)%}
    {% if u.tier > 1%}
    <a class="btn btn-secondary" href="/news/new">New News Event</a>
    {% endif %}
    {% when None%}
    {% endmatch %}
</div>
{% endblock %}

{% block content %}
<table class="table">
    <thead>
        <th>Title</th>
        <th>Date</th>
    </thead>
    {% for story in stories %}
    <tr>
        <td><a href="/news/{{ story.id }}" class="stretched-link">{{ story.title }}</a></td>
        <td>{{ story.happened_at }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}