{% extends "base.html" %}

{% block title %}{{ story.title }}{% endblock %}

{% block head %}
<style>
</style>
{% endblock %}

{% block tools %}
{% match logged_in %}
{% when Some with (u) %}
{% if u.tier > 1 %}
<div class="btn-group mr-2">
    <a class="btn btn-secondary" href="/news/{{ story.id }}/edit">Edit</a>
    <button type="delete" class="btn btn-danger">Delete</button>
</div>
{% endif %}
{% when None %}
{% endmatch %}
{% endblock %}

{% block content %}
<h3>{{ story.happened_at.format("%B %-d, %Y, at %l:%M %p") }}</h3>
<p>{{ story.description|e|md|safe }}</p>
{% endblock %}