{% extends "base.html" %}

{% block title %}Add User to {{ group.name }}{% endblock %}

{% block head %}
<style>
	p {
        font-size: 12px;
    }
</style>
{% endblock %}

{% block content %}
<form method="POST">
    <select class="custom-select" name="uid">
        {% for u in all_users %}
        <option value="{{ u.id }}">{{ u.real_name }} ({{ u.handle }})</option>
        {% endfor %}
    </select>
    <p> Supports Basic Search </p>
    <br>
    <button type="submit" class="btn btn-primary">Add</button>
</form>
{% endblock %}