{% extends "base.html" %}

{% block title %}{{ group.name }} Group{% endblock %}

{% block head %}
<style>
</style>
{% endblock %}

{% block tools %}
{% match logged_in %}
{% when Some with (u) %}
{% if u.tier > 1 %}
<div class="btn-group mr-2">
    <a class="btn btn-secondary" href="/groups/{{ group.id }}/edit">Edit</a>
    <button type="delete" class="btn btn-danger">Delete</button>
</div>
{% endif %}
{% if u.tier > 1 || u.id == group.owner_id %}
<div class="btn-group mr-2">
    <a class="btn btn-primary" href="/groups/{{ group.id }}/members/add">Add User</a>
    <form method="POST">
        <input type="hidden" name="group_id" value="{{ group.id }}">
        <input type="hidden" name="code" value="code">
        <button type="submit" class="btn btn-secondary">New Meeting</button>
    </form>
</div>
{% endif %}
{% when None %}
{% endmatch %}
{% endblock %}

{% block content %}

{% match group.location %}
{% when Some with (val) %}
Room: {{ val }}
{% when None %}
{% endmatch %}

<h2>Members</h2>
<ul>
    {% for user in users %}
    <li>
        <a href="/users/{{ user.id }}">{{ user.real_name }} ({{ user.handle }})</a>
        {% match logged_in %}
        {% when Some with (u) %}
        {% if (u.tier > 1 || u.id == group.owner_id) && user.id != group.owner_id %}
        <button type="delete" action="/groups/{{ group.id }}/members/{{ user.id }}"
            class="btn btn-danger">Remove</button>
        {% endif %}
        {% when None %}
        {% endmatch %}
    </li>
    {% endfor %}
</ul>

<h2>Meetings</h2>
<ul>
    {% for meeting in meetings %}
    <li>
        Meeting at {{ meeting.happened_at }} code:
        <code>{{ meeting.code }}</code>
        <a href="/big?text={{ meeting.code }}">View</a>
    </li>
    {% endfor %}
</ul>

{% endblock %}