{% extends "base.html" %}

{% block title %}Groups{% endblock %}

{% block head %}
<style>
</style>
{% endblock %}

{% block tools %}
<div class="btn-group mr-2">
    {% match logged_in %}
    {% when Some with (u) %}
    {% if u.tier > 1 %}
    <a class="btn btn-secondary" href="/groups/new">New Group</a>
    {% endif %}
    {% when None %}
    {% endmatch %}
</div>
{% endblock %}

{% block content %}
<table class="table table-hover">
    <thead>
        <th>Group Name</th>
    </thead>
    <tbody>
        {% for group in groups %}
        <tr class="position-relative">
            <td>
                <a class="stretched-link" href="/groups/{{ group.id }}">{{ group.name }}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}