{% extends "base.html" %}

{% block title %}{{ group.name }} Group{% endblock %}

{% block head %}
<style>
</style>
{% endblock %}

{% block tools %}
{% match logged_in %}
{% when Some with (u) %}
{% if u.tier > 1 %}
<div class="btn-group mr-2">
    <a class="btn btn-secondary" href="/groups/{{ group.id }}/edit">Edit</a>
    <button id="delete_button" class="btn btn-danger">Delete</button>
</div>
{% endif %}
{% if u.tier > 1 || u.id == group.owner_id %}
<form method="POST">
    <input type="hidden" name="group_id" value="{{ group.id }}">
    <input type="hidden" name="code" value="code">
    <button type="submit" class="btn btn-secondary">New Meeting</button>
</form>
{% endif %}
{% when None %}
{% endmatch %}
{% endblock %}

{% block content %}

{% match group.location %}
{% when Some with (val) %}
Room: {{ val }}
{% when None %}
{% endmatch %}


<ul>
    {% for meeting in meetings %}
    <li>Meeting at {{ meeting.happened_at }} code: <code>{{ meeting.code }}</code></li>
    {% endfor %}
</ul>

{% endblock %}