{% extends "base.html" %}

{% block title %}New Group{% endblock %}

{% block head %}
<style>
</style>
{% endblock %}

{% block content %}
<form method="POST">
    <div class="form-group">
        <label for="name">Group Name</label>
        <input type="text" name="name" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="location">Meeting Location</label>
        <input type="text" name="location" class="form-control">
    </div>
    <div class="form-group">
        <label for="owner_id">Group Leader</label>
        <select name="owner_id">
            {% for user in all_users %}
            <option value="{{ user.id }}">{{ user.real_name}} ({{ user.handle }})</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}