{% extends "base.html" %}

{% block title %}New Group{% endblock %}

{% block head %}
<style>
    p {
        font-size: 12px;
    }
</style>
{% endblock %}

{% block content %}
{% include "../form-error.html" %}

<form method="POST" class="container">
    <div class="row justify-content-center">
        <div class="col col-4">
            <div class="form-group">
                <label for="name">Group Name</label>
                <input type="text" name="name" class="form-control" maxlength = "50" required autofocus>
            </div>
            <div class="form-group">
                <label for="location">Meeting Location</label>
                <input type="text" name="location" class="form-control" maxlength = "50">
            </div>
            <div class="form-group">
                <label for="owner_id">Group Leader</label>
                <select name="owner_id" class="custom-select">
                    {% for user in all_users %}
                    <option value="{{ user.id }}">{{ user.real_name}} ({{ user.handle }})</option>
                    {% endfor %}
                </select>
                <p> Supports Basic Search </p>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
{% endblock %}
