/*
 * Project wide CSS imported into base.html
 */

/* Fixes a visual issue with the toolbar */
.btn-group, form {
    align-self: center;
    max-height: 2.5em;
}

/* Bootstrap's collapser uses JS so I made a simpler version */
.navbar-collapse {
    display: inline-block;
}

/* Collapsing for the navbar */
@media only screen and (max-width: 992px) {
    .navbar-collapse {
        display: none;
    }
}

#collapser {
    display: none;
}

.navbar-toggler {
    cursor: pointer;
}

:checked + .navbar-collapse {
    display: block;
}

.sponsors .card {
    width: 20rem;
}

#topbar .btn-group {
    margin: 0 1rem;
}

#big {
    font-size: 11rem;
}