<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{{ title }} - RCOS{% endblock %}</title>
    <link rel="stylesheet" href="/static/base.css">
    {% block head %}{% endblock %}
</head>

<body>
    <div>
        <h1><a href="/">RCOS</a></h1>
        <div>
            <a href="/users">Users</a>
            <a href="/projects">Projects</a>
        </div>
        <div>
            <a href="/signup">Sign Up</a>
            <a href="/login">Log In</a>
        </div>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>

</html>