<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}RCOS{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/static/base.css">
    <script src="/static/base.js"></script>
    {% block head %}{% endblock %}
</head>

<body>
    <header>
        {% include "header.html" %}
    </header>
    <div class="container">
        <div id="topbar" class="d-flex justify-content-between align-items-center">
            <h1>{% block title %}{% endblock %}</h1>
            <div class="btn-toolbar">
                {% block tools %}{% endblock %}
            </div>
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>

</html>