{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block head %}
<style>
    section {
        margin-bottom: 20px;
    }
    .card {
        padding: 16px;
        background-color: #EEEEEE;
    }
</style>
{% endblock %}

{% block tools %}
{% match logged_in%}
{% when Some with (u) %}
<div class="btn-group mr-2">
    <a class="btn btn-secondary" href="/users/{{ u.id }}/edit">Edit Profile</a>
</div>
{% when None%}
{% endmatch %}
{% endblock %}

{% block content %}


<div class="container profile ng-scope">
    <div class="row">
        <section class="col-sm-6">
            <div class="card border-0">
				<h2>Projects</h2>
				{% for project in projects %}
				<div>
				    <a href="/projects/{{ project.id }}">
				        <h4>{{ project.name }}</h4>
				    </a>
				</div>
				{% endfor %}

				<h2>Groups</h2>
				<ul>
				    {% for group in groups %}
				    <li><a href="/groups/{{ group.id }}">{{ group.name }}</a></li>
				    {% endfor %}
				</ul>
			</div>
		</section>
		<section class="col-sm-6">
            <div class="card border-0">
				{% include "grade-summary.html" %}
			</div>
		</section>
	</div>
</div>
{% endblock %}