{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block head %}
<style>
</style>
{% endblock %}

{% block tools %}
{% match logged_in%}
{% when Some with (u) %}
<div class="btn-group mr-2">
    <a class="btn btn-secondary" href="/users/{{ u.id }}/edit">Edit Profile</a>
</div>
{% when None%}
{% endmatch %}
{% endblock %}

{% block content %}
<h2>Projects</h2>
{% for project in projects %}
<div>
    <a href="/projects/{{ project.id }}">
        <h4>{{ project.name }}</h4>
    </a>
</div>
{% endfor %}

<h2>Groups</h2>
<ul>
    {% for group in groups %}
    <li><a href="/groups/{{ group.id }}">{{ group.name }}</a></li>
    {% endfor %}
</ul>

<h2>Grade Summary</h2>
<h3>Commits {{ summary.commit_count }}</h3>
<h3>Attendance {{ summary.attendances.len() }} / {{ summary.needed_attendances }}</h3>
<details>
    <summary>Show all Attendance</summary>
    <ul>
        {% for at in summary.attendances %}
        <li><a href="{{ at.url() }}">{{ at.name() }} {{ at.time() }}</a></li>
        {% endfor %}
    </ul>
</details>
{% endblock %}