<!--
This file can be included into another page to display an error in a form.
-->

{% if error.is_some() %}

{% match error %}
{% when Some with (e) %}
{% match e %}
{% when FormError::Email %}
<div class="alert alert-warning">
    Unknown email, please check it and try again.
</div>
{% when FormError::Password %}
<div class="alert alert-warning">
    Incorrect password, please try again.
</div>
{% when FormError::Credentials %}
<div class="alert alert-warning">
    Incorrect email or password. Make sure that they are spelled correctly.
</div>
{% when FormError::UserExists %}
<div class="alert alert-warning">
    Email is already in use, please login or try another email.
</div>
{% when FormError::PasswordMismatch %}
<div class="alert alert-warning">
    Passwords do not match, please re-type them and try again.
</div>
{% when FormError::InvalidCode %}
<div class="alert alert-warning">
    The attendance code either does not exist, or is used for a group you are not a part of.
</div>
{% when FormError::InvalidDate %}
<div class="alert alert-warning">
    Date is invalid. Must be in a form like <code>2018-04-21 15:30</code>.
</div>
{% when FormError::Other %}
<div class="alert alert-warning">
    There is an issue with this form, please check it and try again.
</div>
{% endmatch %}
{% when None %}
{% endmatch %}

{% endif %}