<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <a class="navbar-brand" href="/">RCOS</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/calendar">Calendar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/users">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/projects">Projects</a>
        </li>
    </ul>

    <ul class="navbar-nav">
        {% match logged_in %}
        {% when Some with (u) %}
        {% if u.tier > 0 %}
        <li class="nav-item">
            <a class="nav-link" href="/groups">Groups</a>
        </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="/attend">Attend</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/dashboard">{{ u.handle }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Log Out</a>
        </li>
        {% when None %}
        <li class="nav-item">
            <a class="nav-link" href="/signup">Sign Up</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/login">Log In</a>
        </li>
        {% endmatch %}
    </ul>
</nav>