{% extends "base.html" %}

{% block head %}
<title>RCOS</title>
<style>
    .jumbotron img {
        display: block;
        margin: 0 auto;
    }

    section {
        margin: 5rem 0;
    }
</style>
{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-2"><img alt="RCOS" class="mw-100" src="/static/img/lockup-red.webp"></h1>
    <!-- <p class="lead">Rensselaer Center for Open Source</p> -->
</div>

{% match announcement %}
{% when Some with (a) %}
<section class="alert alert-info">
    <a href="/news/{{ a.id }}">{{ a.title }}</a>
</section>
{% when None %}
{% endmatch %}

<section class="about">
    <h2>About</h2>
    <p>
        Our Mission is to cultivate an inclusive, creative, and entrepreneurial
        community that seeks to empower students to develop open-source
        solutions to real-world problems.
    </p>
    <p>
        <!-- This needs to be updated and expanded -->
        RCOS is a group of RPI students who work on open source projects. Our members work on a variety of projects,
        which can be seen on the projects page. To see the presentation schedule look check the calendar.
    </p>
</section>

<section class="card-deck">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Mattermost</h5>
            <p class="card-text">
                Come talk with us and keep up with important announcements
                in the official RCOS Mattermost.
            </p>
            <a class="card-link stretched-link" href="https://chat.rcos.io">chat.rcos.io</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Wiki</h5>
            <p class="card-text">
                The official RCOS wiki full of the knowledge of our members.
                Add what you know to help others!
            </p>
	    <!-- This URL needs to be updated when the wiki moves -->
            <a class="card-link stretched-link" href="https://rcos-wiki.cs.rpi.edu">rcos-wiki.cs.rpi.edu</a>
        </div>
    </div>
</section>

<section class="sponsors">
    <h2>Sponsors</h2>
    <!-- The sponsor blurbs probably need to be updated -->
    <div class="card-columns">
        <div class="card">
            <img src="/static/img/sponsors/red-hat.svg" class="card-img-top">
            <div class="card-body">
                <h4 class="card-title">RedHat</h4>
                <p class="card-text">
                    RedHat has funded student projects and learning workshops, including Introduction to Open Source
                    Software.
                </p>
                <a href="https://redhat.com/about" target="_blank" class="card-link stretched-link">About</a>
            </div>
        </div>
        <div class="card">
            <img src="/static/img/sponsors/mozilla.svg" class="card-img-top">
            <div class="card-body">
                <h4 class="card-title">Mozilla</h4>
                <p class="card-text">
                    Helped with leadership program for mentors.
                </p>
                <a href="https://mozilla.org" target="_blank" class="card-link stretched-link">About</a>
            </div>
        </div>
        <div class="card">
            <img src="/static/img/sponsors/google.svg" class="card-img-top">
            <div class="card-body">
                <h4 class="card-title">Google</h4>
                <p class="card-text">
                    Donated MAGPis and Cardboard VR.
                </p>
                <a href="https://about.google" target="_blank" class="card-link stretched-link">About</a>
            </div>
        </div>
        <div class="card">
            <img src="/static/img/sponsors/osi.webp" class="card-img-top">
            <div class="card-body">
                <h4 class="card-title">Open Source Initiative</h4>
                <p class="card-text">
                    Educational Institution Member that has provided opportunities for students.
                </p>
                <a href="https://opensource.org" target="_blank" class="card-link stretched-link">About</a>
            </div>
        </div>
        <div class="card">
            <img src="/static/img/sponsors/hfoss.webp" class="card-img-top">
            <div class="card-body">
                <h4 class="card-title">NSF HFOSS</h4>
                <p class="card-text">
                    Affliated member with Trinity, Connecticut College and Wesleyan University
                </p>
                <a href="http://hfoss.org" target="_blank" class="card-link stretched-link">About</a>
            </div>
        </div>
        <div class="card">
            <img src="/static/img/sponsors/microsoft.svg" class="card-img-top">
            <div class="card-body">
                <h4 class="card-title">Microsoft</h4>
                <p class="card-text">
                    Partially Funded Student projects through the Microsoft employee program.
                </p>
                <a href="https://microsoft.com/about" target="_blank" class="card-link stretched-link">About</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block footer %}
<p>Observatory-New version: <code>{{ version }}</code></p>
<p>Sponsor logos By Source, Fair Use courtesy of WikiPedia</p>
{% endblock %}
