{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block head %}
<style>
</style>
{% endblock %}

{% block content %}
<h1>Sign Up</h1>
<form method="POST" action="/signup/">
    <div>
        <label for="email">Email</label>
        <input type="email" name="email">
    </div>
    <div>
        <label for="password_hash">Password</label>
        <input type="password" name="password_hash">
    </div>
    <div>
        <label for="real_name">Real Name</label>
        <input type="text" name="real_name">
    </div>
    <div>
        <label for="handle">GitHub Handle</label>
        <input type="text" name="handle">
    </div>
    <input type="hidden" name="salt" value="">
    <div>
        <button type="submit">Sign Up</button>
    </div>
</form>
{% endblock %}