<!DOCTYPE HTML>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://html5-templates.com/" />
    <title>Sitemap</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>

<body>
<header>
    <div id="logo">RCOS Site Map</div>
</header>

<section id="pageContent">
    <main role="main">
        <ul class="nav left-nav">
            <li class="dropdown">
                <a href="/index.html" class="dropdown-toggle" data-toggle="dropdown">Home <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">

                    <li ><a href="/auth/login.html">Log In</a></li>

                    <li ><a href="/auth/signup.html">Sign Up</a></li>

                </ul>
            </li>

            <li class="dropdown">
                <a href="/calender/calender.html" class="dropdown-toggle" data-toggle="dropdown">Calender <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">

                    <li ><a href="/calender/event.html">Event</a></li>

                    <li ><a href="/calender/edit-event.html">Edit Event</a></li>

                    <li ><a href="/calender/new-event.html">New Event</a></li>

                </ul>
            </li>

            <li class="dropdown">
                <a href="/group/group.html" class="dropdown-toggle" data-toggle="dropdown">Group <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">

                    <li ><a href="/group/add-user.html">Add User</a></li>

                    <li ><a href="/group/edit-group.html">Edit Group</a></li>

                    <li ><a href="/group/groups-list.html">Groups List</a></li>

                    <li ><a href="/group/new-group.html">New Group</a></li>

                </ul>
            </li>

            <li class="dropdown">
                <a href="/news/news.html" class="dropdown-toggle" data-toggle="dropdown">News <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">

                    <li ><a href="/news/edit-newsstory.html">Edit Newsstory</a></li>

                    <li ><a href="/news/new-newsstory.html">New Newsstory</a></li>

                    <li ><a href="/news/newsstory.html">Newsstory</a></li>

                    <li ><a href="/news/slides.html">Slides</a></li>

                </ul>
            </li>

            <li class="dropdown">
                <a href="/project/project.html" class="dropdown-toggle" data-toggle="dropdown">Project <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">

                    <li ><a href="/project/add-user.html">Add User</a></li>

                    <li ><a href="/project/edit-project.html">Edit Project</a></li>

                    <li ><a href="/project/join.html">Join</a></li>

                    <li ><a href="/project/new-project.html">New Project</a></li>

                    <li ><a href="/project/projects-list.html">Projects List</a></li>

                </ul>
            </li>

            <li class="dropdown">
                <a href="/user/user.html" class="dropdown-toggle" data-toggle="dropdown">User <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">

                    <li ><a href="/user/edit-user.html">Edit User</a></li>

                    <li ><a href="/user/users-list.html">Users List</a></li>

                </ul>
            </li>
        </ul>
    </main>
</section>

<footer>
    <address>
        <p> Contact </p>
        <a href="https://chat.rcos.io" class="btn btn-primary navbar-btn">Mattermost</a>
        <p> Please consult the RCOS Handbook for meeting times and presentation schedules </p>
        <a href="https://handbook.rcos.io" class="btn btn-primary navbar-btn">Handbook</a>
        <p> For more project information </p>
        <a href="https://github.com/rcos/observatory-new" class="btn btn-default navbar-btn">GitHub Repository</a>
    </address>
</footer>

</body>
</html>