<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>Sitemap</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h1>RCOS Site Map</h1>
    <ul>
        <li><a href="/">Index</a></li>
        <li><a href="/auth/login">Log In</a></li>
        <li><a href="/auth/signup">Sign Up</a></li>
        <li><a href="/calendar">Calendar</a></li>
        <li><a href="/groups">Groups</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/users">Users</a></li>
    </ul>
    <p>Talk with us at <a href="https://chat.rcos.io">Mattermost</a>.</p>
    <a href="https://github.com/rcos/observatory-new">GitHub Repository</a>
</body>

</html>

