{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block head %}
<style>
</style>
{% endblock %}

{% block content %}

{% include "../form-error.html" %}

<form method="POST" class="container">
    <div class="row justify-content-center">
        <div class="col col-4">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control" maxlength = "50" required autofocus>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" required>
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}