{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block head %}
<style>
</style>
{% endblock %}

{% block content %}

{% include "../form-error.html" %}

<form method="POST">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" class="form-control" required autofocus>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" required>
        <label for="password_repeat">Password (repeat)</label>
        <input type="password" name="password_repeat" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="real_name">Real Name</label>
        <input type="text" name="real_name" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="handle">GitHub Handle</label>
        <input type="text" name="handle" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="mmost">Mattermost Handle</label>
        <input type="text" name="mmost" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
</form>
{% endblock %}