{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block head %}
<style>
</style>
{% endblock %}



{% block content %}
<form method="POST">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" class="form-control" required autofocus>
    </div>
    <div class="form-group">
        <label for="password_hash">Password</label>
        <input type="password" name="password_hash" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="real_name">Real Name</label>
        <input type="text" name="real_name" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="handle">GitHub Handle</label>
        <input type="text" name="handle" class="form-control" required>
    </div>
    <input type="hidden" name="salt" value="">
    <button type="submit" class="btn btn-primary">Sign Up</button>
</form>
{% endblock %}