{% extends "base.html" %}

{% block title %}Edit Project - {{ project.name }}{% endblock %}

{% block head %}
<script src="/static/js/edit-project.js"></script>
<style>
</style>
{% endblock %}

{% block content %}
<form method="PUT" action="/projects/{{ project.id }}">
    <div class="form-group">
        <label for="name">Project Name</label>
        <input type="text" name="name" class="form-control" value="{{ project.name }}" required autofocus>
    </div>

    <div class="form-group">
        <label for="homepage">Project Website</label>
        <input type="url" name="homepage" class="form-control"
            value="{% match project.homepage %}{% when Some with (h) %}{{ h }}{% when None %}{% endmatch %}">
    </div>

    <div class="form-group">
        <label for="proposal">Project Proposal</label>
        <input type="url" name="proposal" class="form-control"
            value="{% match project.proposal %}{% when Some with (h) %}{{ h }}{% when None %}{% endmatch %}">
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <textarea name="description" class="form-control" required>{{ project.description }}</textarea>
    </div>

    <div class="form-group">
        <label for="owner_id">Project Owner <noscript>(As a JSON array)</noscript></label>
        <select name="owner_id" class="custom-select" value="{{ project.owner_id }}">
            {% for user in all_users %}
            <option value="{{ user.id }}" {% if project.owner_id == user.id %} selected {% endif %}>
                {{ user.real_name }} ({{ user.handle }})</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="repo-list">Repository URLs <noscript>(As a JSON array)</noscript></label>
        {% for repo in repos %}
        <input type="url" class="repo-list form-control" value="{{ repo }}" {% if loop.first %} required {% endif %}>
        {% endfor %}
        <div id="more-repos"></div>
        <button type="button" class="btn btn-secondary" onclick="add_repo(); void(0)">Add Repo</button>
    </div>

    <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="extrn" name="extrn" {% if project.extrn %} checked
            {% endif %}>
        <label class="custom-control-label" for="extrn">External Project</label>
    </div>

    <br>

    <input type="hidden" name="repos" value="[]">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}