{% extends "base.html" %}

{% block title %}New Project{% endblock %}

{% block head %}
<script src="/static/js/edit-project.js"></script>
<style>
</style>
{% endblock %}

{% block content %}
<form method="POST">
    <div class="form-group">
        <label for="name">Project Name</label>
        <input type="text" name="name" class="form-control" required autofocus>
    </div>

    <div class="form-group">
        <label for="homepage">Project Website</label>
        <input type="url" name="homepage" class="form-control">
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <textarea name="description" class="form-control" required></textarea>
    </div>

    <noscript>This form requires JavaScript to work, please enable it.</noscript>
    <div class="form-group">
        <label for="repo-list">Repository URLs</label>
        <input type="url" class="repo-list form-control" required>
        <div id="more-repos"></div>
        <button type="button" class="btn btn-secondary" onclick="add_repo(); void(0)">Add Repo</button>
    </div>

    <input type="hidden" name="owner_id" value="0">
    <input type="hidden" name="repos" value="[]">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}