{% extends "base.html" %}

{% block title %}New Project{% endblock %}

{% block head %}
<style>
</style>
{% endblock %}

{% block content %}
<script>
    function add_repo() {
        let d = document.getElementById("more-repos");
        let i = document.createElement("input");
        i.setAttribute("type", "url");
        i.setAttribute("name", "repos");
        i.classList.add("form-control");
        d.appendChild(i);
    }

    // This is a workaround because Rocket does not handle
    // Array form values. So we load it all into the last one
    // As a JSON string.
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById("newproject").onsubmit = e => {
            e.preventDefault();
            let val = [];
            e.target.repos.forEach(e => val.push(e.value));
            document.getElementById("main-repo").value = JSON.stringify(val);
            e.target.submit();
        };
    })
</script>

<form id="newproject" method="POST">
    <div class="form-group">
        <label for="name">Project Name</label>
        <input type="text" name="name" class="form-control" required autofocus>
    </div>
    <div class="form-group">
        <label for="homepage">Project Website</label>
        <input type="url" name="homepage" class="form-control">
    </div>

    <div class="form-group">
        <label for="repos">Repository URLs <noscript>(comma seperated)</noscript></label>
        <div id="more-repos"></div>
        <div class="input-group">
            <input id="main-repo" type="url" name="repos" class="form-control" required>
            <noscript></noscript>
            <div class="input-group-append">
                <button type="button" class="btn btn-secondary" onclick="add_repo(); void(0)">+</button>
            </div>
        </div>
    </div>
    <input type="hidden" name="owner_id" value="0">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}