{% extends "base.html" %}

{% block title %}{{ project.name }}{% endblock %}

{% block head %}
<style>
</style>
{% endblock %}

{% block tools %}
{% match logged_in %}
{% when Some with (u) %}
{% if u.tier > 1 %}
<div class="btn-group mr-2">
    <button id="delete_button" class="btn btn-danger">Delete</button>
</div>
{% endif %}
{% if u.tier > 1 || u.id == project.owner_id %}
<div class="btn-group mr-2">
    <a class="btn btn-secondary" href="/projects/{{ project.id }}/edit">Edit Project</a>
</div>
{% endif %}
<div class="btn-group mr-2">
    <a class="btn btn-secondary" href="/projects/{{ project.id }}/join">Join</a>
</div>
{% when None %}
{% endmatch %}
{% endblock %}

{% block content %}
{% match project.homepage %}
{% when Some with (val) %}
<a href="{{ val }}">Homepage</a>
{% when None %}
{% endmatch %}

<p>{{ project.description }}</p>

<div id="repos">
    <h3>Repos</h3>
    <ul>
        {% for url in repos %}
        <li><a href="{{ url }}">{{ url }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}