{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block head %}
<style>
</style>
{% endblock %}

{% block tools %}
{% match logged_in%}
{% when Some with (u) %}
<div class="btn-group">
    <a class="btn btn-secondary" href="/projects/new">New Project</a>
</div>
{% when None %}
{% endmatch %}
<form method="GET" class="form-inline">
    <div class="input-group mb-3">
        <input type="text" name="s" placeholder="Search">
        <div class="input-group-append">
            <button type="submit" class="btn btn-outline-secondary">Search</button>
        </div>
    </div>
</form>
{% endblock %}

{% block content %}
<table class="table table-hover">
    <thead>
        <th>Name</th>
        <th>Homepage</th>
    </thead>
    <tbody>
        {% for project in projects %}
        <tr class="position-relative">
            <td><a class="stretched-link" href="/projects/{{ project.id }}">{{ project.name }}</a></td>
            {% match project.homepage %}
            {% when Some with (val) %}
            <td><a href="{{ val }}">{{ val }}</a></td>
            {% when None %}
            <td>None</td>
            {% endmatch %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}