{% extends "base.html" %}

{% block title %}Users{% endblock %}

{% block head %}
<style>
</style>
{% endblock %}

{% block tools %}
<form method="GET" class="mr-2">
    <div class="input-group mb-3">
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="a" name="a" {% if inactive %}checked{% endif %}>
            <label class="custom-control-label" for="a">Show Inactive</label>
        </div>
        <input type="text" name="s" placeholder="Search" value="{{ search_term }}">
        <div class="input-group-append">
            <button type="submit" class="btn btn-outline-secondary">Search</button>
        </div>
    </div>
</form>
{% endblock %}

{% block content %}
<table class="table table-hover">
    <thead>
        <th>Handle</th>
        <th>Name</th>
        <th>Email</th>
    </thead>
    <tbody>
        {% for user in users %}
        <tr class="clickable-row" data-href="/users/{{ user.id }}">
            <td><a href="/users/{{ user.id }}">{{ user.handle }}</a></td>
            <td>{{ user.real_name }}</td>
            <td>{{ user.email }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
