{% extends "base.html" %}

{% block title %}{{ user.real_name }}{% endblock %}
{% block head %}
<style>
    img {
        max-width: 10em;
    }
</style>
{% endblock %}

{% block tools %}
{% match logged_in%}
{% when Some with (u) %}
{% if u.tier > 1 || u.id == user.id %}
<div class="btn-group mr-2">
    <a class="btn btn-secondary" href="/users/{{ user.id }}/edit">Edit</a>
</div>
{% endif %}
{% when None %}
{% endmatch %}
{% endblock %}

{% block content %}
<img src="https://github.com/{{ user.handle }}.png" class="rounded" />
<div class="container">
    <div>Github: <a href="https://github.com/{{ user.handle }}" target="_blank">{{ user.handle }}</a></div>
    <div>Mattermost: {{ user.mmost }}</div>
    <div>Member since: {{ user.joined_on.format("%B %-d, %Y") }}</div>
    <div>Former Member?: {{ user.former }}</div>
    <div>RCOS Member?: {{ !user.extrn }}</div>
	
	{% if user.tier == 1 %}
	<div> User Status: Mentor </div>
	{% else if user.tier == 2 %}
	<div> User Status: Coordinator </div>
	{% else if user.tier == 3 %}
	<div> User Status: Administrator </div>
	{% endif %}
	
    <h2>Bio</h2>
    <p>{{ user.bio|e|md|safe }}</p>

    <h2>Projects</h2>
    {% for project in projects %}
    <div>
        <a href="/projects/{{ project.id }}">
            <h4>{{ project.name }}</h4>
        </a>
    </div>
    {% endfor %}

    {% match logged_in %}
    {% when Some with (u) %}

    {% if u.tier > 0 %}
    <h2>Groups</h2>
    <ul>
        {% for group in groups %}
        <li><a href="/groups/{{ group.id }}">{{ group.name }}</a></li>
        {% endfor %}
    </ul>

    <hr />
    {% include "grade-summary.html" %}
    {% endif %}

    {% when None %}
    {% endmatch %}
</div>
{% endblock %}